[submodule "KalmanFilter"]
	path = KalmanFilter
	url = https://github.com/TKJElectronics/KalmanFilter.git
[submodule "Multiwii"]
	path = Multiwii
	url = https://github.com/yopzolo/multiwii-firmware.git
